html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    background-color: #5b97f7;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

.dropdown {
    cursor:pointer;
}